.background {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    position: relative;
}

.background-cta {
    height: 100vh !important;
    left: 50% !important;
    min-height: 100vh !important;
    min-width: 100vw !important;
    position: absolute !important;
    top: 50% !important;
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    width: 177.77778vh !important;
    z-index: 10;
}

.background-video {
    height: 100vh !important;
    left: 50% !important;
    min-height: 100vh !important;
    min-width: 100vw !important;
    position: absolute !important;
    top: 50% !important;
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    width: 177.77778vh !important;
}

.video {
    height: 100%;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    position: absolute;
    transition: opacity 1.5s ease-in-out;
}

.city-rain {
    position: absolute;
    top: 35%;
    left: 8%;
    width: 200px;
}

.enter {
    position: absolute;
    top: 50%;
    left: 64%;
}

.keyboard {
    position: absolute;
    top: 70%;
    left: 80%;
}
