.wrapper {
  width: 100vw;
  height: 100vh;
}

.background-cta {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.background-video {
  height: 100%;
  width: 100%;
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-size: cover;
}

.city-rain {
  position: absolute;
  top: 35%;
  left: 8%;
}

.enter {
  position: absolute;
  top: 50%;
  left: 64%;
}

.keyboard {
  position: absolute;
  top: 70%;
  left: 80%;
}
