.modal-signup {
  width: 100%;
  height: 100%;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--white-color);

  &--close {
    position: absolute;
    top: 0;
    right: 1%;
    font-size: 3rem;
    color: var(--white-color);

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &--logo {
    width: 250px;

    & img {
      width: 100%;
      object-fit: cover;
      background-size: cover;
    }
  }
}

.modal-signup--content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-signup--header {
  display: flex;
  flex-direction: column;
  align-items: center;

  & h1 {
    font-size: 4.6rem;
    margin: 16px 0;
  }

  & h4 {
    font-size: 2rem;
  }
}

.modal-signup-input {
  padding: 5px;
  margin-top: 30px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff00;
  overflow: hidden;

  & input {
    padding: 10px;
    border: none;
    outline: none;
    line-height: 4rem;
    background-color: #080808
    color: var(--white-color);
  }

  .username,
  .email {
    border-bottom: 1px solid #ffffff17;
  }
}
