.menu-list {
  background-color: #070707;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 1000;
}

//Tablet
@media (min-width: 739px) and (max-width: 1024px) {
  .menu-list {
    width: 200%;
    top: 0;
    left: 5%;
  }
}

//Mobile
@media (max-width: 740px) {
  .menu-list {
    width: 200%;
    top: 0;
    left: 5%;
  }
}
