.fixed-item {
    display: inline-flex;
    align-items: center;
    .icon {
        margin-right: 20px;
        color: var(--primary-color);
        font-size: 2rem;
        font-weight: 600;
    }

    .title-active {
        color: var(--white-color);
        font-weight: 700;
    }

    .title-disabled {
        color: var(--dark-color);
        font-weight: 700;
    }
}
