.fixed-item {
  display: inline-flex;
  align-items: center;

  :hover {
    cursor: default;
  }
  .active-icon {
    margin-right: 10px;
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 600;
    width: 20px;
  }

  .disabled-icon {
    margin-right: 10px;
    color: var(--dark-color);
    font-size: 1.5rem;
    font-weight: 600;
    width: 20px;
  }

  .title-active {
    margin-left: 5px;
    color: var(--white-color);
    font-weight: 700;
    font-size: 1.6rem;
  }

  .title-disabled {
    color: var(--dark-color);
    font-weight: 700;
    font-size: 1.6rem;
  }

  .title {
    color: var(--primary-color);
  }
}
